.svelte-kit
dist
node_modules
static
.eslintrc.cjs
.gitignore
.prettierignore
.prettierrc
package.json
pnpm-lock.yaml
postcss.config.cjs
svelte.config.js
tailwind.config.cjs
tsconfig.json
src/wailsjs/go/main/App.d.ts
src/wailsjs/go/main/App.js
src/wailsjs/go/models.ts
src/wailsjs/runtime/package.json
src/wailsjs/runtime/runtime.d.ts
src/wailsjs/runtime/runtime.js